body {
    background:rgb(53, 27, 169);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: flex;
    width: 500px;
    height: 500px;
    margin: 40px;
    align-content: stretch;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.block {
    flex: 1;
    background: white;
}

.hover {
    background: black;
}

.lowerbtns {
    display: flex;
    justify-content: space-between;
}