body {
    background:rgb(53, 27, 169);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    background-color: white;
    display: flex;
    align-content: stretch;
    width: 600px;
    height: 600px;
    margin: 12px;
    border-style: solid;
    border-width: 6px;
    border-color: darkgray;
    border-radius: 8px;
}

.size {
    margin-top: 8px;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.block {
    flex: 1;
    background: white;
}

.hover {
    background: black;
}
