body {
    background:rgb(53, 27, 169);
}
#grid {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 576px;
    height: auto;
    margin: 86px;
}

.block {
    height: 36px;
    width: 36px;
    background: rgb(203, 193, 182);
}

.hover {
    height: 36px;
    width: 36px;
    background: rgb(197, 156, 112);
}